@model IEnumerable<Student>;
<div>Student List</div>
<input class="btn btn-primary" type="button" value="Add Student"
       onclick="@("window.location.href='" + @Url.Action("AddStudent", "Student") + "'");" />

<table class="table table-dark">
    <tr>
        <th colspan="7">Student</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Course</td>
        <td>Date Enrolled</td>
        <td>Email</td>
        <td>Details</td>


    </tr>
    @foreach (var Student in Model)
    {
        <tr>
            <td>@Student.id</td>
            <td>@Student.Fname</td>
            <td>@Student.Lname</td>
            <td>@Student.course</td>
            <td>@Student.email </td>
            <td>@Student.dateenrolled</td>
            <td>
                <a asp-action="ShowDetails" asp-route-id="@Student.id">Show Details</a>
                <a asp-action="updatestudent" asp-route-id="@Student.id" class="btn btn-primary">Update</a>
             </td>

        </tr>
    }
</table>
